/* 메인 컬러  */
.main-bg-navy {
    background-color: #304B61 !important;
    color: white;
}

.main-bg-img {
    background-color: #304B61 !important;
    color: white;
    opacity: 0.93;
}

​.main-ft-beige {
    color: #FFF1C3;
}

​.main-ft-white {
    color: white;
}

/* 버튼 속성 */
​.btn-active {
    background-color: #758EF5;
}

​.btn-inactive {
    background-color: #ABABAB;
}

/* 라우터 속성 */
a {
    text-decoration: none !important;
    color: inherit !important;
}

input[type=password] {
    font-family: initial;
    
    &::placeholder {
      font-family: "NanumSquare";
    }
}